@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f9f8f6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: 10px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    font-size: 1.17em;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

